---
entry: index.js
navCoach: active
---



{% extends '../layout/layout.html' %}

{% block content %}

    <div class="banner coach-banner">
        <div class="wrapper">
            <div class="mask-banner"><img src="<%= require('images/banner/coach-mask-banner.png')%>" alt=""></div>
            <div class="download-banner">
                <span class="button">
                    <i class="icon icon-ios"></i>
                    <span class="button-txt">ios版下载</span>
                </span>
                <span class="button">
                    <i class="icon icon-android"></i>
                    <span class="button-txt">Android版下载</span>
                </span>
            </div>
            <div class="qrcode-banner">
                <div class="qrcode"><img src="<%= require('images/qrcode-index.png')%>" alt=""></div>
            </div>
            <div class="coach-mask">
                <img src="<%= require('images/banner/coach-mask.png')%>" alt="">
            </div>
        </div>
    </div>


<div class="module-wrap module-white">
    <div class="wrapper">
        <div class="module-desc-wrap">
            <dl class="module-desc m-blue-1">
                <dt>
                <img src="<%= require('images/index-phone/coach-desc-1.png')%>" alt="">
                </dt>
                <dd><span>●</span>可查阅一周七天日程情况；</dd>
                <dd><span>●</span>日程的空闲、已预约、待审核的各时间点一目了然</dd>
                <dd><span>●</span>可手动添加预约，无论是学生打电话预约或通过软件预约，全部收入，</dd>
                <dd><span>●</span>可对时间点进行关闭操作，防止您的休息时间学员进行预约申请</dd>
            </dl>
        </div>
        <div class="module-img-wrap"><img src="<%= require('images/index-phone/coach-1.png')%>" alt=""></div>
    </div>
</div>


<div class="module-wrap module-gray">
    <div class="wrapper">
        <div class="module-desc-wrap">
            <dl class="module-desc m-orange">
                <dt>
                <img src="<%= require('images/index-phone/coach-desc-2.png')%>" alt="">
                </dt>
                <dd><span>●</span>您可在此添加学员</dd>
                <dd><span>●</span>查看学员个人信息</dd>
                <dd><span>●</span>查看学员预约情况</dd>
                <dd><span>●</span>查看学员待考情况</dd>
                <dd><span>●</span>查看学员的学时</dd>
            </dl>
        </div>
        <div class="module-img-wrap"><img src="<%= require('images/index-phone/coach-2.png')%>" alt=""></div>
    </div>
</div>

<div class="module-wrap module-white">
    <div class="wrapper">
        <div class="module-desc-wrap">
            <dl class="module-desc m-orange">
                <dt>
                <img src="<%= require('images/index-phone/coach-desc-3.png')%>" alt="">
                </dt>
            </dl>
        </div>
        <div class="module-img-wrap"><img src="<%= require('images/index-phone/coach-3.png')%>" alt=""></div>
    </div>
</div>


<div class="module-wrap module-gray">
    <div class="wrapper">
        <div class="module-desc-wrap">
            <dl class="module-desc m-blue">
                <dt>
                <img src="<%= require('images/index-phone/coach-desc-4.png')%>" alt="">
                </dt>
            </dl>
        </div>
        <div class="module-img-wrap"><img src="<%= require('images/index-phone/coach-4.png')%>" alt=""></div>
    </div>
</div>


<div class="module-wrap module-white">
    <div class="wrapper">
        <div class="module-desc-wrap">
            <dl class="module-desc m-orange">
                <dt>
                <img src="<%= require('images/index-phone/coach-desc-5.png')%>" alt="">
                </dt>
            </dl>
        </div>
        <div class="module-img-wrap"><img src="<%= require('images/index-phone/coach-5.png')%>" alt=""></div>
    </div>
</div>


<div class="module-wrap module-gray">
    <div class="wrapper">
        <div class="module-desc-wrap">
            <dl class="module-desc m-blue">
                <dt>
                <img src="<%= require('images/index-phone/coach-desc-6.png')%>" alt="">
                </dt>
            </dl>
        </div>
        <div class="module-img-wrap"><img src="<%= require('images/index-phone/coach-6.png')%>" alt=""></div>
    </div>
</div>

{% endblock %}




