---
entry: index.js
navNotice: active
grayBackground: grayBackground
---
{% extends '../layout/layout.html' %}
{% block content %}





<div class="wrapper">
    <div class="flexslider">
        <ul class="sliders">
            <li class="slider-panel slider-panel-current">
                <a href="#"><img src="<%= require('images/banner/notice-banner.png')%>" ></a>
            </li>
            <!-- <li class="slider-panel">
                <a href="#"><img src="<%= require('images/banner/notice-banner.png')%>" ></a>
            </li>
            <li class="slider-panel">
                <a href="#"><img src="<%= require('images/banner/notice-banner.png')%>" ></a>
            </li>
            <li class="slider-panel">
                <a href="#"><img src="<%= require('images/banner/notice-banner.png')%>" ></a>
            </li> -->
        </ul>
        <div class="slider-extra">
            <ul class="slider-nav">
                <li class="current"></li>
                <li></li>
            </ul>
            <ul class="slider-page">
                <a href="" class="slider-prev icon-arrow-left"><i class="icon icon-arrow-left"></i></a>
                <a href="" class="slider-next icon-arrow-right"><i class="icon icon-arrow-right"></i></a>
            </ul>
        </div>
    </div>
</div>


    <div class="wrapper notic-main">
        <div class="left-main">
            <h3 class="title-bar">驾考资讯</h3>
            <div class="shop">
                <ul class="shop-list">
                    <li class="shop-item shop-item-selected">公司动态</li>
                    <li class="shop-item">驾考新闻</li>
                    <li class="shop-item">学车宝库</li>
                    <li class="shop-item">公司动态</li>
                </ul>
            </div>

            <div class="shop-main">
                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-desc">经常讲到css选择器命名规则，其实不只是在团队合作基础上来讲这个，每个浏览器,IE产品，火狐，苹果，谷歌，都会因为命名不规范会产生不同样式..</div>
                        <div class="note-msg">
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-source">腾讯新闻</span>
                        </div>
                    </div>

                </div>

                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-desc">经常讲到css选择器命名规则，其实不只是在团队合作基础上来讲这个，每个浏览器,IE产品，火狐，苹果，谷歌，都会因为命名不规范会产生不同样式..</div>
                        <div class="note-msg">
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-source">腾讯新闻</span>
                        </div>
                    </div>

                </div>

                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-desc">经常讲到css选择器命名规则，其实不只是在团队合作基础上来讲这个，每个浏览器,IE产品，火狐，苹果，谷歌，都会因为命名不规范会产生不同样式..</div>
                        <div class="note-msg">
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-source">腾讯新闻</span>
                        </div>
                    </div>

                </div>

                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-desc">经常讲到css选择器命名规则，其实不只是在团队合作基础上来讲这个，每个浏览器,IE产品，火狐，苹果，谷歌，都会因为命名不规范会产生不同样式..</div>
                        <div class="note-msg">
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-source">腾讯新闻</span>
                        </div>
                    </div>

                </div>

                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-desc">经常讲到css选择器命名规则，其实不只是在团队合作基础上来讲这个，每个浏览器,IE产品，火狐，苹果，谷歌，都会因为命名不规范会产生不同样式..</div>
                        <div class="note-msg">
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-source">腾讯新闻</span>
                        </div>
                    </div>

                </div>

                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-desc">经常讲到css选择器命名规则，其实不只是在团队合作基础上来讲这个，每个浏览器,IE产品，火狐，苹果，谷歌，都会因为命名不规范会产生不同样式..</div>
                        <div class="note-msg">
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-time">2016-4-22</span> |
                            <span class="note-source">腾讯新闻</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="right-main">
            <h3 class="title-bar">驾考视频</h3>
            <div class="shop">
                <ul class="shop-list">
                    <li class="shop-item shop-item-selected">科目二视频</li>
                    <li class="shop-item">科目三视频</li>
                </ul>
            </div>

            <div class="shop-main">
                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-msg">
                            <span class="note-times">
                                <i class="icon icon-video"></i>
                                1.8万次播放
                            </span>
                        </div>
                    </div>
                </div>

                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-msg">
                            <span class="note-times">
                                <i class="icon icon-video"></i>
                                1.8万次播放
                            </span>
                        </div>
                    </div>
                </div>
                <div class="shop-main-list">
                    <div class="img-wrap"><img src="<%= require('images/banner/notice-banner.png')%>" alt=""></div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-msg">
                            <span class="note-times">
                                <i class="icon icon-video"></i>
                                1.8万次播放
                            </span>
                        </div>
                    </div>
                </div><div class="shop-main-list">
                    <div class="img-wrap">
                        <img src="<%= require('images/banner/notice-banner.png')%>" alt="">
                        <span class="video-time">1:30:30</span>
                    </div>
                    <div class="note-wrap">
                        <h4 class="note-title">Css选择器命名规则</h4>
                        <div class="note-msg">
                            <span class="note-times">
                                <i class="icon icon-video"></i>
                                1.8万次播放
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
