<div class="footer">
    <div class="wrapper">
        <dl class="nav-foot about-us">
            <dt>
            关于 <br> About us
            </dt>
            <dd><a href="/pages/about.html">联系我们</a></dd>
            <dd><a href="/pages/about.html">加入我们</a></dd>
        </dl>
        <dl class="nav-foot coop-media">
            <dt>合作媒体
            <br>Cooperation
            </dt>
            <dd><a href="#">中关村在线</a></dd>
            <dd><a href="#">非凡软件</a></dd>
            <dd><a href="#">百度手机助手</a></dd>
            <dd><a href="#">豌豆荚</a></dd>
            <dd><a href="#">安卓市场</a></dd>
            <dd><a href="#">91安卓下载</a></dd>
        </dl>
        <dl class="nav-foot watch-us">
            <dt>合作媒体
            <br> Watch us
            </dt>
            <dd class="shared">
            <a href="#" class="icon icon-webcat"></a>
            <a href="" class="icon icon-weibo"></a>
            <a href="" class="icon icon-qq"></a>
            </dd>
        </dl>
        <dl class="nav-foot service-line">
            <dt>客服热线
            <br> Service hotline
            </dt>
            <dd>
            <div class="button">
                <i class="icon-phone"></i>
                <span class="foot-phone">
                    400-608-2388
                </span>
            </div>
            </dd>
        </dl>
    </div>
</div>
<div class="copyright">
    <div class="wrapper">
        drive box © 2016桂ICP备14042253
    </div>
</div>
